* html, html, body {
    margin:0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    background-color: blue;
    left:0;
    top:0;
    height:100%;
    width:100%;
}